*{
    padding: 0;
    margin: 0;
}

.navbar-brand {
    font-size: xx-large;
    font-weight: bold;

}


.img_banner{
   
                width: 100%;
                height: 750px;
}
.img_banner img{
    width: 100%;
            height: 100%;
            background-size: cover;
            z-index: 0;
}
.list{
    font-size: larger;
}
.main{
    position: absolute;
    top:0;
    /* z-index: 1; */
    
    
}



.mid_text h3{
    position: absolute;
    top: 50%;
    left: 35%;
    color: white;
    font-family: 'Kalam', cursive;
}

.row_de .col-3{
   
    min-height: 500px;
    min-height: 70%;
    position: relative;
    overflow: hidden;
    
   
    
    
}

    

.overlay{
    position: absolute;
    top: 50%;
    left: 25%;
    text-shadow: 2px 3px 5px rgba(48, 47, 47, 0.9);
    color: white;
}
.overlay3{
    position: absolute;
    
    top: 50%;
    left: 45%;
    text-shadow: 2px 3px 5px rgba(48, 47, 47, 0.9);
    color: white;
}

.row_de .col-3 img{
height: 400px;
width: 95%;
margin: 5px;
transition: all 0.1s;



}

.brighten-hover{
    filter: brightness(60%);
}

.brighten-hover:hover {
      filter: brightness(1.1); /* Adjust the value to brighten or darken the image */
      transition: filter 0.3s ease;
      transform: scale(1.1);
}
.layout{
    /* min-height: 500px; */
    min-height: 60%;
    
}
.layout img{
    height: 350px;
width: 95%;
margin: 5px;

}
.row_tour .col-4 .layout {
    position: relative;
     
}
.row_tour .col-4 .layout .overlay1{
    position: absolute;
    top: 0;
    height: 350px;
width: 95%;
margin: 5px;
background-color: rgb(113, 113, 113,0.1);
/* background-color: transparent; */
color: white;

}
.row_tour .col-4 .layout .overlay1 h2{
    position: absolute;
    top: 50%;
    margin: 10px;
    color: white;
}
.row_tour .col-4 .layout .overlay1 ul{
     position: absolute;
    top: 80%;
    color: white;
}
.row_tour  .brighten-hover:hover {
      filter: brightness(1.2); /* Adjust the value to brighten or darken the image */
      transition: filter 0.3s ease;
      transform: scale(1.05);
}
#tour{
    background-color:azure;
}
.row_fav{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}